* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../img/Фон1.png");
    width: 100%;
    background-size: cover;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-left: 79px;
    padding-right: 79px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Ubuntu';
    padding-bottom: 18px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.main-link {
    text-decoration: none;
    color: #FFFFFF;
}
.menu-link:hover {
    color: #3CB878;
    transition: 0.3s;
}
.main-text:hover {
    color: #3CB878;
    transition: 0.3s;
}
.menu-item {
    margin-left: 25px;
    color: #FFFFFF;
    list-style: none;
}
.menu-item:nth-child(5) {
    margin-left: 0;
}
.menu-link-active {
    padding-right: 3px;
}
.icon {
    fill: white;
}
.icon:hover{
    fill: #3CB878;
    transition: 0.3s all;
}
.main-text {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-link {
    text-decoration: none;
    color: #FFFFFF;
}
.green-square {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}
.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu';
    border: 1px solid grey;
    padding-top: 32px;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);    
}

.form-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}
.form-text-link {
    text-decoration: none;
    color: #434343;
    font-size: 20px;
    line-height: 20px;
}
.text-link-active {
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}
.text-link-active:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
    transition: 0.2s ease-in-out;
}
.networks-button {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 16px;
    margin-top: 15px; 
    gap: 8px;
    
}
.network:first-child {
    margin-right: 4px;
}
.network-fb {
    background: #305DB8;
    border-radius: 4px;
    width: 160px;
    box-sizing: border-box;
    padding: 11px 22px 11px 11px;
    display: block;
}
.network-fb:hover {
    background: #022263;
    transition: 0.4s;
}
.networks-link-fb {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line-fb {
    margin-left: 13px;
    margin-right: 18px;
}
.network-google {
    background: #DF4A32;
    border-radius: 4px;
    padding: 14px 26px 13px 10px;
    box-sizing: border-box;
    width: 160px;
}
.network-google:hover {
    background: #AB1F09;
    transition: 0.4s;
}
.networks-link-google {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line-google {
    margin-left: 7px;
    margin-right: 30px;
}
.choice {
    text-align: center;
    margin-top: 34px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    overflow: hidden;
    position: relative;
    padding-bottom: 7px;
}

.left-right-line-choice::after {
    content: "";
    border-bottom:1px solid #F2F2F2;
    width: 34%;
    height: 0.5em;
    position: absolute;
    top: 0px;
    margin-left: 2px;
}
.left-right-line-choice::before {
    content: "";
    border-bottom:1px solid #F2F2F2;
    width: 34%;
    height: 0.5em;
    position: absolute;
    top: 0px;
    margin-left: calc(-34% - 1px);
}
.form-box {
    margin-left: 60px;
    margin-right: 60px;
}

.form-input {
    margin-bottom: 15px;
    height: 45px;
    width: 322px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    
}
.form-input:focus {
  color: #434343;
  font-size: 14px;
  line-height: 14px;
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
  transition: 0.5s all;
    
}

.network-name {
    font-size: 16px;
    line-height: 16px;
}
::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;
}
.form-check {
    margin-bottom: 20px;
    margin-right: 11px;
    border: 1px solid #F2F2F2;
}
.form-label {
    cursor: pointer;
}
.checkbox-link {
    text-decoration: none;
}
.checkbox-text{
    color: #3CB878;
    text-decoration: none;
}
.checkbox-text:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
    padding-bottom: 2px;
    transition: 0.2s ease-in-out;
}
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 13.5px;
    border: 2px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.0001);
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}
input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.form-btn {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px; 
    width: 324px;
    margin-top: 20px;
    margin-bottom: 38px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 16px 99px;
    border: none;
}
.form-btn:hover {
    background: #01813F;
    transition: 0.4s;
}